rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Test/Development Mode: Allow public read and write to all collections
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
